*{
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}

/* Aplicamos estilos al header */
.head{
    display: flex;
    align-self: center;
    justify-content: space-between;
    background: #7F055F;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 20px;
}

.logo{
    margin-left: 30px;
    padding: 20px 15px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;

}

.navbar a:hover{
    background: #E5A4CB;
}

.proceAdopcion{
    padding: 100px 20px 20px 20px ;
}

/* Aplicamos estilos al galePerros */
.galePerros, .infoDonacion{
    padding: 20px;
}

.main .galePerros{
    background: #FFE8D4;
    padding: 60px 0;
}

.main .galePerros .contenedorFotos{
    overflow: hidden;
}

.main .trabajos .contenedorFotos .fotoPerro{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .trabajos .contenedorFotos .fotoPerro{ 
    width: 23%; /*Donde pondremos poner 4 en cada div*/
    margin-bottom: 40px;
}


/* Aplicamos estilos al footer */
footer{
    padding: 20px;
    background: #E5A4CB;
}

div p{
    color: #fff;
    padding: 10px;
    text-align: center;
}