*{
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}

/* Aplicamos estilos al header */
.head{
    display: flex;
    align-self: center;
    justify-content: space-between;
    background: #7F055F;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 0px 20px 0px 20px;
}

.navbar{
    display: flex;
    margin-right: 20px;
}

.logo{
    margin-left: 30px;
    padding: 20px 15px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;

}

.navbar a:hover{
    background: #E5A4CB;
}

/* Estblecemos el main */
.generalEvent{
}

.infoGeneralEvent{
    background: #fbfbfb;
    padding: 125px 20px 50px 20px;
}

.titulo1{
    text-align: center;
    padding: 25px 0px 15px 0px;
}

/* Redes sociales y footer */
#social-media {
    background-color: #f3e8ee;
    padding: 10px 0; 
    display: grid;
    place-items: center;
    padding: 50px 20px 50px 20px;
}

#social-media p{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
    width: 100%;
    
}

.social-icons{
    padding: 15px 0 0 0;
}

.social-icons img {
    width: 60px;
}

#footerMain{
    background-color: #DEC6D0;
    display: grid;
    width: 100%;
    padding: 50px 20px 50px 20px;
}

#footer{
    background-color: #f3e8ee;
    display: grid;
    margin: 40px 50px 40px 50px;
    padding: 10px;
    border-radius: 30px;
}

.footer-img{
    width: 100%;
}

.footer-box {
    padding: 10px 0;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
}

.footer-box .form-control {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 30px;
}

.btnStandar2{
    background: #7f055f;
    border-radius: 3px;
    width: 100px;
    color: #fff;
    border: none;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
}

.btnStandar2:hover{
    background: #e5a4cb;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.container{
    padding: 20px 20px 20px 20px;
}