@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{ 
    margin: 0%;
    padding: 0%;
    border: 0;
    font-size: 100%;
    
}


body{
    font-family: sans-serif;
    text-align: justify;
   
}
.head{
    display: flex;
    align-self: center;
    justify-content: space-between;
    background: #7F055F;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 20px;
}

.logo{
    margin-left: 30px;
    padding: 20px 15px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;

}

.navbar a:hover{
    background: #E5A4CB;
}

.header{
    padding: 210px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header{
    height: 100vh !important;
    background: url(imagenes/portada\ \ adoptame.jpg); 
    background-size: cover;

}

p{
    font-size: 25px;
    color: #201c1c;
    padding: 10px 50px;
    text-align: center;
    text-align: justify;
    font-family:'Salsa', cursive;
}

.contentSau{
    padding: 50px 0 50px 0;
}

.contentFunda{
    padding: 50px 0 50px 0;
}


.btn:hover {
    background: none;
}

.btn-home{
    display: flex;
}

.carousel slide, .titulo {
    padding: 50px 0 0 0;
    text-align: center;
}

.h2.box-container{
    text-align: center;
}
.title{
    font-family:'Salsa', cursive;
    text-align: center;
    justify-content: center;
}
.sau{
    padding: 15px;
    background: #d9e1e6;
    text-align: center;

}
.img{
    border-radius: 4px;
}

.funda{
    font-family:'Salsa', cursive;
    background: #5656d4;
    background: url(imagenes/row-tops-heads-cats-dogs-260nw-1034939470.jpg);
    text-align: center;
    justify-content: center;
    font-size: 25px;
   
    padding: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #010203;
}


.content{
    justify-content: center;

}
.img{
 text-align: center;
 justify-items: center;
 box-sizing: border-box;
 display: flex;
 justify-content: center;
 gap 30px;
 padding: 0, 100;
 width: auto;
}

.box-container{
    display: flex;
    justify-content: center;
}
   
.carousel{
    
    background: #cc94bd;
}

.carousel-inner{
    padding: 50px 0px 50px 0px;
}

/* Redes sociales y footer */
#social-media {
    background-color: #f3e8ee;
    padding: 10px 0;
    display: grid;
    place-items: center;
    padding: 50px 20px 50px 20px;
}

#social-media p {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
    width: 100%;

}

.social-icons {
    padding: 15px 0 0 0;
}

.social-icons img {
    width: 60px;
}

#footerMain {
    background-color: #DEC6D0;
    display: grid;
    width: 100%;
    padding: 50px 20px 50px 20px;
}

#footer {
    background-color: #f3e8ee;
    display: grid;
    margin: 40px 50px 40px 50px;
    padding: 10px;
    border-radius: 30px;
}

.footer-img {
    width: 100%;
}

.footer-box {
    padding: 10px 0;
}

.footer-box img {
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
}

.footer-box .form-control {
    box-shadow: none;
    border: none;
    border-radius: 3px;
    margin-top: 25px;
    width: 250px;
    min-height: 50px; 

}

.footer-box .btn-primary {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 30px;
}

.footer-box  .row{
    text-align: center;
    padding: 10px 0 15px 0;
}

.footer-box .col{
    text-align: left ;
}

.icones{
    padding-right: 10px;
}


.textoFormulario{
    text-align: left;
}

.btnStandar2 {
    background: #7f055f;
    border-radius: 3px;
    width: 100px;
    color: #fff;
    border: none;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
}

.btnStandar2:hover {
    background: #e5a4cb;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.container {
    padding: 20px 40px 20px 40px;
    text-align: left;
}

.containerA{
    color:#7f055f;
}

.containerA:hover{
    color:#45062e;
    font-size: 19px;
    background: #f3e8ee;
    border-radius: 3px;
    padding: 5px 5px;
}