

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{ 
    margin: 0%;
    padding: 0%;
    border: 0;
    font-size: 100%;
    
}


body{
    text-align: center;
    font-family:'Salsa', cursive;
    text-align: justify;
   
}
.head{
    display: flex;
    align-self: center;
    justify-content: space-between;
    height: 63px;
    background: #7f055f;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 20px;
      
}

.logo{
    margin-left: 30px;
    padding: 20px 15px;

}
.logo a {
    text-decoration: none;
    
    color: #ffe8d4;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a {
    display: block;
    padding: 20px 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;

}

.navbar a:hover{
    background: #f5eae0;

}

.header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: none;
}

.header{
    height: 100vh !important;
    background: url(img/portada\ \ adoptame.jpg); no-repeat center;
    background-size: cover;

}

p{
    font-size: 20px;
    color: #3a3838;
    padding: 0 50px;
    text-align: center;
    text-align: justify;
    font-family:'Salsa', cursive;
}


.btn:hover {
    background: none;
}

.btn-home{
    display: flex;
}

.h2.box-container{
    text-align: center;
}
.title{
    font-family:'Salsa', cursive;
    text-align: center;
    justify-content: center;
}
.sau{
    padding: 15px;
    background: #d9e1e6;
    justify-content: center;

}
.funda{
    font-family:'Salsa', cursive;
    background: #2f2f35;
    background: url(img/row-tops-heads-cats-dogs-260nw-1034939470.jpg); no-repeat center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    color: rgb(97, 157, 248);

}


.content{
    justify-content: center;

}
.img{
 text-align: center;
 justify-items: center;
 box-sizing: border-box;
 display: flex;
 justify-content: center;
 gap 30px;
 padding: 0, 100;
 width: auto;
}

.box-container{
    display: flex;
    justify-content: center;
}
   
.carousel{
    
    background: #cc94bd;
}



 
