@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{ 
    margin: 0%;
    padding: 0%;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: sans-serif;
}

.head{
    display: flex;
    align-self: center;
    justify-content: space-between;
    height: 63px;
    background: #7f055f;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 20px;
      
}

.logo{
    margin-left: 30px;
    padding: 20px 15px;

}
.logo a {
    text-decoration: none;
    
    color: #ffe8d4;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a {
    display: block;
    padding: 20px 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;

}

.navbar a:hover{
    background: #f5eae0;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    height: 80vh !important;
    background: url(img/portada\ \ adoptame.jpg); no-repeat center;
    background-size: cover;

}

.title{
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    font-family:'Salsa', cursive; 
}

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #000000;
    padding: 0 100px;
    text-align: center;
    text-align: justify;

}
.h2{
    margin-bottom: 40px;
    font-family:'Salsa', cursive;
    font-weight: 300;
    text-transform: uppercase;
    text-align: justify;
    text-align: center;
}

.ul{
    text-align: justify;
    text-align: center;
}
.btn:hover {
    background: none;
}

.btn-home{
    display: flex;
}

.btn-home a{
    margin:0 8px;

}
.content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.funda{
    justify-content: center;
}
.sau{
    padding: 25px;
    background: #7f055f;
    justify-content: center;

}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-container.box{
    height:11rem;
    width:17rem;
    background: #968383;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 5rem, rgba (0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box i{
       height: 3rem;
       width: 3rem;
       line-height: 3rem;
       text-align: center;
       border-radius: 50%;
       color:#fff;
       background: #9c27b0;
       font-size: 2rem;
       margin: 1rem 0;
}

.box-container .box h3{
    font-size: 20px;
    color: #9c27b0;
}

.box-container .box p{
    padding: 0 15;
    font-size: 16px;   
}
.about{
    background: #171717;
}


@media(max-width: 768px;){
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }
    .sau{
        height: 100vh;
    }
    .navbar{
        display: none;
    }
    
}
 
